footer {
    background: #3b3f3f;
    height: 250px;
    color: white;
    font-weight: 200;
    padding-left: 30px;
    padding-top: 20px;
}

ul {
    display: flex;
}

footer li {
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
}

footer li > div {
    width: 20px;
}

footer i {
    margin-right: 8px;
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 20px;
        height: 200px;
    }
}