html, body, textarea, section, button, input, label, div, hr, p, form, a, h1, h2, ul, li, select {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-family: system-ui;
    outline: none;
    text-decoration: none;
    color: inherit;
    resize: none;
    outline: none;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
}

body {
    overflow-y: scroll;
}

a, button, input[type='submit'] {
    cursor: pointer;
}