.weather-container {
    background: #f7f7f7;
    min-height: 555px;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

#default-bg {
    animation: fadein 1s; 
    background-image: linear-gradient(#3d4f9c,#5b93af);
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

.check-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.check-weather h1 {
    font-size: 50px;
    font-weight: bold;
}

.check-weather h2 {
    font-size: 18px;
    font-weight: 300;
    width: 400px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.weather-btn {
    width: 390px;
    background: #8ac646;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    padding: 18px 50px;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 20px;
}

.weather-btn:hover {
    opacity: 0.9;
}

.weather-wrapper {
    min-height: 555px;
    width: 800px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.weather-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-header {
    height: 100px;
    width: 350px;
    background: #398ee8;
    box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.18);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.weather-header:hover {
    opacity: 0.9;
}

.weather-header-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 5px;
}

.condition {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.weather-icon {
    height: 50px;
    width: 50px;
}

.condition > span {
    margin-left: -3px;
}

.temperature {
    margin-left: 10px;
    margin-top: -5px;
    font-size: 38px;
    font-family: Helvetica;
    font-weight: 400;
}

.weather-header-right {
    position: absolute;
    top: 12px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.time {
    font-size: 20px;
}

.date {
    margin-top: 5px;
    letter-spacing: 2px;
    margin-right: -3px;
}

.location {
    margin-top: 6px;
    font-weight: 300;
    font-size: 14px;
}

.weather-details, .status, .update, .settings, .zipcode {
    margin-top: 10px;
    width: 350px;
    background: white;
    box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.18);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    color: black;
}

.weather-details {
    cursor: pointer;
}

.weather-details:hover {
    opacity: 0.9;
}

.title {
    font-weight: bold;
    color: rgb(3, 139, 139);
    font-size: 18px;
    text-transform: uppercase;
}

.weather-details h2 {
    font-weight: 500;
    text-transform: capitalize;
    /* margin-top: 2px; */
    font-size: 22px;
}

.weather-details h3 {
    font-size: 14px;
    color: #696969;
}

.weather-details h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
    color: #696969;
    text-transform: uppercase;
}

.details-value {
    font-weight: 500;
    color: black;
}

#code {
    color: black;
    font-weight: 400;
}

.status p, .update p, .zipcode p {
    margin-top: 5px;
    color: #474646;
}

#details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #696969;
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
}

#details > .far {
    margin-left: 3px;
}

.update-header {
    display: flex;
    justify-content: space-between;
}

.resync {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(134, 206, 230);
    margin-top: -2px;
}

.resync:hover {
    opacity: 0.8;
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-header button {
    padding: 3px 12px;
    border: 1px solid rgba(112, 109, 109, 0.747);
    border-radius: 5px;
    font-weight: 500;
    color: #474646;
}

#btn-active {
    background: #398ee8;
    color: white;
    border: 1px solid transparent;
}

.zipcode-container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.zipcode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    position: relative;
}

.search input {
    padding: 5px 10px;
    padding-right: 58px;
    border: 2px solid #e0e2e4;
    border-radius: 3px;
    width: 200px;
    box-sizing: border-box;
}

.search-btn {
    position: absolute;
    right: 0;
    height: 32px;
    padding: 0 19px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    background: rgb(3, 139, 139);
}

.green {
    background: #8ac646;
}

.check-weather .search {
    margin-top: 10px;
}

.search-btn:hover {
    opacity: 0.9;
}

.zip-error {
    margin-top: 5px;
    color: rgb(248, 45, 45);
    font-weight: 500;
}


@media screen and (max-width: 1000px) {
    .weather-wrapper {
        flex-direction: column;
    }

    .zipcode-container {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
}